.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.constructor_elements {
  position: relative;
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  align-items: center;
}

.order_details {
  display: flex;
  justify-content: end;
  align-items: center;
}

.ingredients {
  overflow-y: auto;
}
