.order_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  display: flex;
}

.order_price {
  display: flex;
}

.link {
  color: var(--text-primary-color);
  text-decoration: none;
}
