.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 720px;
  background-color: var(--background-alt);
  border: 1px solid rgb(76 76 255 / 20%);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.modal_details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.icon_solo {
  position: absolute;
  right: 0;
}
