body {
  margin: 0;
}

.mt-45 {
  margin-top: calc(var(--offset-base-size) * 45);
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
