.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.positions {
  max-height: 664px;
  overflow-y: auto;
}

.ingredients_block {
  display: flex;
  flex-wrap: wrap;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 272px;
}

.currency {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  height: 48px;
  text-align: center;
}
